HTTP_PORT = 80
MONGO_PORT = 29017
REDIS_PORT = 6002
REDIS_PASSWORD = "34"

config = {
  "docker_file": """
FROM ubuntu:14.04
MAINTAINER Patrick
ADD ./build/sources.list /etc/apt/
RUN apt-get update
ADD ./build/docker_config /root/
RUN apt-get install -y git
RUN apt-get install -y python
RUN apt-get install -y wget
ADD ./setup.py /root/
RUN python -u /root/setup.py
# install ohmyzsh
RUN wget https://github.com/robbyrussell/oh-my-zsh/raw/master/tools/install.sh -O - | zsh || true

# install mongo3.4
RUN sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0C49F3730359A14518585931BC711F9BA15703C6
RUN echo "deb [ arch=amd64 ] http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.4 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-3.4.list
RUN sudo apt-get update
RUN sudo apt-get install -y mongodb-org
RUN sudo mkdir /data
RUN sudo mkdir /data/db
RUN sudo chmod 777 -R /data

ADD ./www /root/www
ADD ./build/http_config.json /root/www/config/
ADD ./build/wechat_config.json /root/www/config/
ADD ./build/mongo_client.json /root/www/config/
ADD ./build/redis_client.json /root/www/config/
RUN cd /root/www && npm install
RUN sudo npm install -g pm2

ADD ./build/mongo_command /root/
RUN sudo mongod --port """ + str(MONGO_PORT) + """ --fork --logpath /root/mongodb.log --logappend && sleep 5 && mongo --port """ + str(MONGO_PORT) + """ admin "/root/mongo_command"
ENTRYPOINT sudo mongod --port """ + str(MONGO_PORT) + """ --auth --fork --logpath /root/mongodb.log --logappend && redis-server --daemonize yes --port """ + str(REDIS_PORT) + """ --requirepass \"""" + REDIS_PASSWORD + """\" && pm2 start /root/www/bin/www && /bin/bash
  """,
  "docker": {
    "packages": [
      "python",
      "python3",
      "vim",
      "redis-server",
      "unzip",
      "zsh",
      "curl",
      "ssh",
      "git",
      "python-pip"
    ],
    "pip-packages": [
      "pymongo",
      "demjson",
      "threadpool",
      "qiniu"
    ],
    "command": ""
  },
  "mongo": {
    "server": {
      "command": """
        db.createUser(
          {
            user: "c",
            pwd: "d",
            roles: [
              {
                role: "userAdminAnyDatabase",
                db: "admin"
              }
            ]
          },
          {
            w: "majority",
            wtimeout: 5000
          }
        )
        db.createCollection('s');
      """,
    },
    "client": {
      "mongodb_url": 'mongodb://127.0.0.1:' + str(MONGO_PORT) + '/s',
      "connect": {
        "db": {
          "native_parser": True
        },
        "server": {
          "pollSize": 5,
          "keepAlive": 1
        },
        "user": "",
        "pass": ""
      }
    }
  },
  "redis": {
    "server": {
      "port": REDIS_PORT,
      "password": REDIS_PASSWORD,
    },
    "client": {
      "session_secret": "huangjianguanglyz",
      "session": {
        "port": REDIS_PORT,
        "host": "127.0.0.1",
        "pass": REDIS_PASSWORD
      },
      "connect": {
        "port": REDIS_PORT,
        "host": "127.0.0.1",
        "family": 4,
        "password": REDIS_PASSWORD,
        "db": 0
      }
    }
  },
  "http": {
    "port": HTTP_PORT,
  },
  "wechat": {
    "app_id": '',
    "app_secret": ''
  },
  "apt_sources": """
    deb http://mirrors.cloud.aliyuncs.com/ubuntu/ trusty main restricted universe multiverse
    deb http://mirrors.cloud.aliyuncs.com/ubuntu/ trusty-security main restricted universe multiverse
    deb http://mirrors.cloud.aliyuncs.com/ubuntu/ trusty-updates main restricted universe multiverse
    deb http://mirrors.cloud.aliyuncs.com/ubuntu/ trusty-proposed main restricted universe multiverse
    deb http://mirrors.cloud.aliyuncs.com/ubuntu/ trusty-backports main restricted universe multiverse

    deb http://mirrors.aliyun.com/ubuntu/ trusty main restricted universe multiverse
    deb http://mirrors.aliyun.com/ubuntu/ trusty-security main restricted universe multiverse
    deb http://mirrors.aliyun.com/ubuntu/ trusty-updates main restricted universe multiverse
    deb http://mirrors.aliyun.com/ubuntu/ trusty-proposed main restricted universe multiverse
    deb http://mirrors.aliyun.com/ubuntu/ trusty-backports main restricted universe multiverse
  """
}
