db.createUser(
  {
    user: "admmin",
    pwd: "passwoord",
    roles: [
      {
        role: "userAdminAnyDatabase",
        db: "admin"
      }
    ]
  },
  {
    w: "majority",
    wtimeout: 5000
  }
)
db.createCollection('test');
